
.main-header
{
  border-bottom:1px solid #2E2F30;

  .top-menu
  {
    background-color:#f6f6f6;
    width:100%;
    height:30px;
  }

  .bottom-menu
  {
    margin-left:20px;
  }
} //main-header 끝


.top-menu
{
  a
  {
    font-size:12px;
    list-style: none;
    margin : 10px 20px 0 0;
    color: black;
    float:right;
  }

  p
  {
    font-size:16px;
    color:green;
    font-weight:bold;
    list-style: none;
    margin : 8px 20px 0 0;
    float:right;
  }

} //top-menu 끝


.bottom-menu
{

  .write
  {
    display:inline-block;
    float:left;
    font-weight:bold;
    font-size:28px;
    width:171px;
    height:35px;
    padding-top:5px;
    background-color:#eafff3;
    text-align:center;
    border : 1px solid #2E2F30;
    margin-top:47px;
    margin-bottom: 26.3px;
  }

  .logo_image
  {
    display:inline-block;
    float:left;
    margin-left:381.3px;
    width:179px;
    height:71px;
    margin-top:29.2px;
    margin-bottom:0;
  }

  .search-text
  {
    display:inline-block;
    float:right;
    border-radius:40px;
    width:201px;
    height:28px;
    margin-top:59.8px;
    margin-right:8.3px;
    margin-bottom:26.3px;
  }

  .search-button
  {
    display:inline-block;
    float:right;
    color: #707070;
    width:40px;
    height:28px;
    border-radius:40px;
    font-size:7px;
    background-color:white;
    cursor:pointer;
    margin-top:59.8px;
    margin-right:35.2px;
    margin-bottom:26.3px;
  }


  &::after
  {
    content:"";
    display:block;
    clear:both;
  }

}//bottom-menu 끝






