
#main-header
{
  border-bottom:1px solid #2E2F30;
}
.top-menu
{
  height:30px;
  width:100%;
}

.top-menu ul li
{
  list-style: none;
  margin-right : 20px;
  color: #ffffff;
  float:right;
}

.main-logo
{
  text-align:center;
}

.submit-button
{
  margin-left:20px;
  margin-bottom:30px;
  input{
    padding: 5px 10px;
  }
}

.search-text
{
  margin-right: 3px;
  float:right;
  border-radius: 15px;
}

.search-button
{
  margin-right : 20px;
  float:right;

  border-radius: 15px;
  background-color: #999999;
  color: #2E2F30;
  font-weight: bold;
 
  .write
  {
    border : 1px solid #2E2F30;
    padding:3px;
  }


  ///////////////////////////////
  .logo_image
  {
    background:url(logo.jpg) no-repeat;
  }
  ///////////////////////////////
}