<section class="show">
  <section class="left">

    <section class="left-top">
      <div class="left-top-title">염소치즈에 딸기 먹어봤나?</div>
      <!-- 본문 제목 -->

      <div class="left-top-content">
        <div class="pictures">
          <div class="picture">사진1</div>
          <div class="picture">사진2</div>
          <div class="picture">사진3</div>
        </div><!-- 첫 번째 사진 3개 -->

        <div class="content-comment">
          아직도 브루스게타(바게트 위에 야채와 소스를 얹은 전체요리)를 토마토로 만든다고?<p></p>
          염소 젖으로 만든 치즈와 딸기 그리고 발사믹으로 완벽한 전체요리에 도전해보자.
        </div> <!-- 첫 번째 본문 내용 -->

        <div class="pictures">
          <div class="picture">사진1</div>
          <div class="picture">사진2</div>
          <div class="picture">사진3</div>
        </div> <!-- 두 번째 사진 3개 -->

        <div class="content-comment">본문내용</div>
        <!-- 두 번째 본문 내용 -->

        <div class="pictures">
          <div class="picture">사진1</div>
          <div class="picture">사진2</div>
          <div class="picture">사진3</div>
        </div><!-- 세 번째 사진 3개 -->
        <div class="content-comment">본문내용</div>
        <!-- 세 번째 본문 내용 -->

      </div><!-- left-top-content 본문 끝 -->

    </section> <!-- left-top 끝 -->

    <section class="left-bottom">
      <form>
        <section class="comments">
          <div class="comments-title">댓글 (22)</div>
          <input class="comments-write" type="text">
          <input class="submit" type="submit" value="작성쓰까">
          <div class="comments-comment">댓글내용</div>
          <div class="comments-comment">댓글내용</div>
          <div class="comments-comment">댓글내용</div>
          <div class="comments-comment">댓글내용</div>
          <div class="comments-comment">댓글내용</div>
        </section><!-- comments 댓글모은 것들 끝 -->
      </form>
    </section> <!-- left bottom 끝 -->

  </section><!-- left 끝 -->


  <section class="right">

    <section class="right_title">
      <div class="right_title_left">
        <div class="nickname">멋쟁이사자두목</div>
        <input class="follow" type="checkbox" value="팔로우">
      </div>
      <div class="profile_image"></div>
    </section> <!-- 닉네임, 팔로우, 프사 모음 -->


    <article class="right-comment">
      <div class="comment-hash"><p>#치킨 #피자 #야식 #편의점 #멋쟁이</p>#존맛탱 #사자처럼 #기모찌</div>
      <!-- 해쉬 태그 -->

      <div class="see-like-number">
        <div class="comment-see">121</div>
        <div class="comment-like">200</div>
        <div class="comment-number">22</div>
      </div>
      <!-- view, 좋아요 수, 댓글 수  -->

      <span class="date"> 게시:
        <div class="when">2018년 8월 14일</div>
      </span>

    </article> <!-- right-comment 끝-->


    <article class="collection-save">
      <a href="#"><%=image_tag 'collection.png' ,class:"save-name"%></a>
    </article> <!-- 관심있는 스까로 저장 -->

    <div class="like-button">좋아스까</div>
    <!-- 좋아요 -->

    <article class="share">
      <a href="#"><div class="facebook"></div></a>
      <a href="#"><div class="instagram"></div></a>
      <a href="#"><div class="twitter"></div></a>
      <a href="#"><div class="kakao-story"></div></a>
    </article> <!--페북, 인스타, 트위터, 카스 share 끝-->


  </section><!--right 끝-->


</section><!--show 끝-->