<div id="main-header">

  <div class = "a">
    <nav class="top-menu" >
      <ul class="high-top-bar">
        <li><a class="menulink" href="/notify/index">공지사항</a></li>
        <li><a class="menulink" href="#">마이페이지</a></li>
        <li><a class="menulink" href="#">회원가입</a></li>
        <li><a class="menulink" href="#">로그인</a></li>
      </ul>
    </nav>
  </div>

  <div class="main-logo">
    <a href="/">스까~</a>
  </div>
  <div class="submit-button">
    <form>
      <input type="submit" value="등록">
      <input class="search-button" type="submit" value="검색~">
      <input class="search-text" type="text" name="" id="">

    </form>
  </div>

</div>