<div>
  <%=render 'commons/header' %>
</div>

<form action="/user/join_two" method="post">
  <div class="join">
    <span class="title">이메일로 가입</span>

    <input name = "email" class="email" type="email"    placeholder="이메일">
    <input name = "pw"    class="pw"    type="password" placeholder="비밀번호 (영문, 숫자 조합 6~15자)">
    <input name = "pw_re" class="pw-re" type="password" placeholder="비밀번호 확인">

    <input type= "hidden" value="<%=form_authenticity_token%>" name="authenticity_token">
    <input class="next" type="submit" value="다음">
  </div>
</form>