<div>
  <%=render 'commons/header' %>
</div>



<form action="/user/join_two">
  <div class="join">

    <span class="title">이메일로 가입</span>

    <input class="email" type="email" placeholder="이메일">
    <input class="pw" type="password" placeholder="비밀번호 (영문, 숫자 조합 6~15자)">
    <input class="pw-re" type="password" placeholder="비밀번호 확인">
    <input class="next" type="submit" value="다음">

  </div>
</form>