<div>
  <%=render 'commons/header' %>
</div>



<form>

  <div class = "sgg">
    <section class="sgg-login">
      <span>이메일스까</span>
      <input class ="email" type="text">

      <span>비밀번호스까</span>
      <input class ="pw" type="text">

      <input class = "sgg-login-button" type = "submit" value = "로그인">

      <a class="find" href="#">아이디 찾기</a>
      <a class="find" href="#">비밀번호 찾기</a>
    </section>
  </div>
</form>