<div>
  <%=render 'commons/header' %>
</div>



<form action ="<%=session_users_path%>" method="post" autocomplete="off" >
  <div class = "sgg">
    <section class="sgg-login">
      <span>이메일스까</span>
      <input name ="email" class ="email" type="text">

      <span>비밀번호스까</span>
      <input name = "pw"   class ="pw" type="password">
      <input type= "hidden" value="<%=form_authenticity_token%>" name="authenticity_token">
      <input class = "sgg-login-button" type = "submit" value = "로그인">

      <a class="joins" href="/user/join">회원 가입</a>
    </section>
  </div>
</form>