<div>
  <%=render 'commons/header' %>
</div>



<form>
  <section class="profile">

    <section class="top">
      <div class="image"> </div>
      <div class="nickname">멋쟁이사자두목</div>
      <div class="level">LV.10</div>
      <div class="score">스까점수 | 98점</div>
    </section>  <!-- top 끝 -->

    <section class="bottom">

      <section class="left">

        <nav class="left-nav">
          <ul class="left-nav-header">
            <li>
              <label><input class="nav-click" id="tab1" type="radio" name="nav-click" checked>내가 쓴 스까</label>
            </li>

            <li>
              <label><input class="nav-click" type="radio" name="nav-click">좋아한 스까</label>
            </li>

            <li>
              <label><input class="nav-click" id="tab3" type="radio" name="nav-click">내 컬렉션</label>
            </li>
          </ul>
        </nav>

        <div class="contents">

          <div class="floor">

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

          </div> <!--floor 끝-->

          <div class="floor">

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

          </div> <!--floor 끝-->

          <div class="floor">

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

          </div> <!--floor 끝-->

          <div class="floor">

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

          </div> <!--floor 끝-->



        </div> <!--contents 끝끝-->


      </section>  <!-- left 끝 -->


      <section class="right">

        <div class="interest">
          <div class="interest-top">
            <span class="interest-title">관심음식</span>
            <a class="interest-all" href="#">전체보기</a>
          </div>

          <div class="hash1">
            <p class="subject">#치킨</p>
            <p>스까 56개</p>
          </div>

          <div class="hash2">
            <p class="subject">#치킨</p>
            <p>스까 56개</p>
          </div>

          <div class="hash3">
            <p class="subject">#치킨</p>
            <p>스까 56개</p>
          </div>

          <div class="hash4">
            <p class="subject">#치킨</p>
            <p>스까 56개</p>
          </div>

        </div>

      </section> <!-- right 끝 -->

    </section>  <!-- bottom 끝 -->
  </section>  <!-- profile 끝 -->

</form>