<div>
  <%=render 'commons/header' %>
</div>




<form>
  <section class="profile">

    <section class="top">
      <div class="image"> </div>
      <div class="nickname"><%=session[:user]['nickname']%></div>
      <div class="level">LV.10</div>
      <div class="score">스까점수 | 98점</div>
    </section>  <!-- top 끝 -->

    <section class="bottom">

      <section class="left">

        <input class="nav_click"
               id="tab1" type="radio" name="nav-click"
               checked>
        <label for="tab1"
               class="label1">내가 쓴 스까</label>

        <input class="nav_click"
               id="tab2" type="radio" name="nav-click">
        <label for="tab2"
               class="label2">좋아한 스까</label>

        <input class="nav_click"
               id="tab3" type="radio" name="nav-click">
        <label for="tab3"
               class="label3">내 컬렉션</label>


        <article class="content1">
          <div class="floor">

            <div class="content">
              <div class="picture">
              </div>
              <p>내가 쓴 스까1</p>
              <p>글쓴이1</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

          </div> <!--floor 끝-->

          <div class="floor">

            <div class="content">
              <div class="picture">
              </div>
              <p>내가 쓴 스까2</p>
              <p>글쓴이2</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

          </div> <!--floor 끝-->

          <div class="floor">

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

          </div> <!--floor 끝-->

          <div class="floor">

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

          </div> <!--floor 끝-->

        </article>




        <article class="content2">
          <div class="floor">

            <div class="content">
              <div class="picture">
              </div>
              <p>좋아한 스까1</p>
              <p>글쓴이1</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

          </div> <!--floor 끝-->

          <div class="floor">

            <div class="content">
              <div class="picture">
              </div>
              <p>좋아한 스까2</p>
              <p>글쓴이2</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

          </div> <!--floor 끝-->

          <div class="floor">

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

          </div> <!--floor 끝-->

          <div class="floor">

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

          </div> <!--floor 끝-->

        </article>



        <article class="content3">
          <div class="floor">

            <div class="content">
              <div class="picture">
              </div>
              <p>내 컬렉션1</p>
              <p>글쓴이1</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

          </div> <!--floor 끝-->

          <div class="floor">

            <div class="content">
              <div class="picture">
              </div>
              <p>내 컬렉션2</p>
              <p>글쓴이2</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

          </div> <!--floor 끝-->

          <div class="floor">

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

          </div> <!--floor 끝-->

          <div class="floor">

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

            <div class="content">
              <div class="picture">
              </div>
              <p>마크정식</p>
              <p>장준범</p>
            </div>

          </div> <!--floor 끝-->

        </article>

      </section>  <!-- left 끝 -->


      <section class="right">

        <div class="interest">
          <div class="interest_top">
            <span class="interest_title">관심음식</span>
            <a class="interest_all" href="#">
              전체보기</a>
          </div>

          <div class="hash1">
            <p class="subject">#치킨</p>
            <p>스까 56개</p>
          </div>

          <div class="hash2">
            <p class="subject">#치킨</p>
            <p>스까 56개</p>
          </div>

          <div class="hash3">
            <p class="subject">#치킨</p>
            <p>스까 56개</p>
          </div>

          <div class="hash4">
            <p class="subject">#치킨</p>
            <p>스까 56개</p>
          </div>

        </div> <!-- interest 끝 -->

      </section> <!-- right 끝 -->

    </section>  <!-- bottom 끝 -->
  </section>  <!-- profile 끝 -->

</form>