<div>
  <%=render 'commons/header' %>
</div>


<div id="n_create">
  <div class="notify_create_box">
    <form action="">
      <p>제목</p>
      <input class="title" type="text" name="" id="">

      <p>내용</p>
      <textarea name="" id="" cols="30" rows="10"></textarea>
      <input class="n_submit" type="submit" value="작성하기">
    </form>
    
  </div>

</div>