<div>
  <%=render 'commons/header' %>
</div>

<div class="notify-box">
  <p class="notification">공지사항</p>

  <div class="notify-list">
    <% @noti.each do |notice| %>
      <div class="notify-one">
        <p class="notify-title"><a href="/notice/<%=notice.id%>"><%=notice.title%></a></p>
        <p class="notify-content">스까스까 관리자</p>
      </div>
    <% end %>

    <div class="create_notify">
      <% if user_admin? %>
      <a href="/notify/create">작성</a>
      <% end %>
     </div>
  </div>
</div>
