<div>
  <%=render 'commons/header' %>
</div>

<div class="notify-box">
  <p class="notification">공지사항</p>

  <div class="notify-list">
    <% @noti.each do |notice| %>
      <div class="notify-one">
        <a class="notify-title" href="/notice/<%=notice.id%>"><%=notice.title%></a>
        <p class="notify-content">대장스까</p>
      </div>
    <% end %>
    <div class="create_notify">
      <% if user_admin? %>
      <a href="/notify/create">작성</a>
      <% end %>
     </div>
  </div>
</div>
