// Place all the styles related to the notify controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.notify-box
{
  width: 70%;
  height: 696px;
  margin: 20px auto;

  .notification
  {
    margin-bottom:20px;
  }
  .notify-list
  {
    border-top:1px solid #2E2F30;
    border-bottom: 1px solid #2E2F30;
    width:100%;
    height:800px;
  }

  .notify-one
  {
    &:hover
    {
      background-color:#BBBBBB;
    }
    .notify-title
    {
      font-size:20px;
      margin-top:20px;
      margin-left:20px;
      padding-bottom:10px;
    }
  }

  .notify-one
  {
    padding: 35px 0;
    border-bottom:1px solid #2E2F30;
    .notify-title
    {
      font-size: 20px;

      .notify-content
      {
        font-size:20px;
        padding-top:20px;
      }
    }
  }


  .notify-content
  {
    font-size:15px;
    margin-left:20px;

  }
}

///////////////// show.html.erb의 scss 부분

#notify_show_head_div
{
  width:70%;
  margin : 30px auto 0;
  .gotolist
  {
    float: right;
  }

  .gotolist::after
  {
    content:'';
    display:block;
    clear:both;
  }

  .notify_show_title
  {
    padding-top:60px;
    border-bottom:1px solid #2E2F30;
    .title
    {
      font-size: 35px;
      margin-bottom:10px;
    }
  }

  .notify_show_content
  {
    margin-top:45px;
    padding-bottom:30px;
    border-bottom:1px solid #2E2F30;
  }

  .comment_box
  {
    margin-top:45px;
  }


}
.comment_box
{
  .comment_content
  {
    .comment
    {
      margin-top:20px;
      width:100%;
      display:block;
      resize:none;
    }
    .submit
    {
      float:right;
      margin : 5px;
      color:white;
      background-color:#000;
    }

    .submit::after
    {
      content:'';
      display:block;
      claer:both;
    }

  }
}


.create_notify
{
  a
  {
    padding : 10px;
    float: right;
    color:white;
    background-color:#2E2F30;
  }
}

/////////////create.scss

#n_create
{
  margin: 20px auto;
  width: 70%;
  .notify_create_box
  {

    p
    {
      margin-top: 20px;
    }
    .title
    {
      width:100%;
      margin-top : 10px;
    }
    textarea
    {
      width:100%;
      margin-top:20px;
      display:block;
      resize:none;
    }

    .n_submit
    {
      float:right;
      margin-top:5px;
      padding:10px;
      color:#2E2F30; //아따 이것이 왜 안먹는당가?
      background-color:white;
    }
  }
}

//notify-create 끝!!!!1