// Place all the styles related to the sggcontroller here.
// They will automatically be included inapplication.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


////게시물 show의 css/////
.show{

  /* 스크롤 바

    //////////////////////////////////////////////////
    //////////////////////////////////////////////////
    //////////////////////////////////////////////////
    /////////   스크롤바 적용 코드입니다    ////////////
    //////////////////////////////////////////////////
    //////////////////////////////////////////////////
    //////////////////////////////////////////////////

    ::-webkit-scrollbar
    {
      width:8px;
    } // 스크롤 바 자체 가로 길이

    ::-webkit-scrollbar-button:start:decrement
    {
      display:none;
    } // 스크롤 바 위 화살표 표시 안함

    ::-webkit-scrollbar-button:end:increment
    {
      display:none;
    } // 스크롤 바 아래 화살표 표시 안함

    ::-webkit-scrollbar-track
    {
      background:white;
      -webkit-border-radius:10px;
      border-radius:10px;
    }//스크롤 바 배경

    ::-webkit-scrollbar-thumb
    {
      background: #5c5c5c;
      border-radius:8px;
    }//위아래 움직이는 스크롤 바 설정


  */


  .left
  {
    position:fixed;
    left:0;
    height: 100%;
    width:75%;
    overflow-x:hidden;
    overflow-y:scroll;

  }

  .right
  {
    position:fixed;
    right:0;
    height: 100%;
    width:25%;
    background-color: #f8f8f8;
    overflow-x:hidden;
    overflow-y:hidden;
  }

} //show 끝

.left
{
  .left-top
  {
    position:relative;
    padding-top:61.9px;
    padding-left:29.9px;
  }

  .left-bottom
  {
    position:relative;
    background-color:#000;
    padding:20px;
  }

  &::after
  {
    content:"";
    clear:both;
    display:block;
  }
} //left 끝


.left-top
{
  .left-top-title
  {
    font-weight:bold;
    font-size:56px;
    margin-bottom:30px;
  }

  .left-top-content
  {
    padding-right:25px;
  }

  .go-main
  {
    float:right;
    text-align:center;
    vertical-align:center;
    font-size:20px;
    padding-top:5px;
    font-weight:bold;
    margin-right:10px;
    margin-bottom:10px;
    background-color:#000;
    color:white;
    height: 25px;
    width:60px;
  }

  &::after
  {
    content:"";
    clear:both;
    display:block;
  }

} //left-top 끝

.left-top-content
{
  .pictures
  {
    width:100%;
    border-top:1px solid #cfcfcf;
    border-bottom:1px solid #cfcfcf;
    padding-top: 19.7px;
    padding-bottom: 19.7px;
  }

  .content-comment
  {
    font-weight:bold;
    font-size:14px;
    margin: 30px 10px 30px 10px;
  }

} //left-top-content 끝

.pictures {

  .picture {
    float: left;
    height: 402px;
    width: 430px;
    margin-right:19px;
    background-color:#B00100;
  }

  &::after
  {
    content:"";
    clear:both;
    display:block;
  }

} //pictures 끝

.left-bottom
{
  .comments
  {
    background-color:white;
    margin: 10px 20px 20px 10px;
    border-radius:15px;
  }
} //left-bottom 끝

.comments
{
  .comments-title
  {
    font-weight:bold;
    padding:20px;
  }

  .profile_image {
    display:inline-block;
    float:left;
    border: 2px solid greenyellow;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right:10px;
    margin-left:20px;
    margin-top:15px;
  }
  .comments-write
  {
    display:block;
    float: right;
    width:800px;
    height:80px;
    resize:none;
    margin-right:32px;
  }

  .submit
  {
    display:block;
    float:right;
    font-size:12px;
    font-weight:bold;
    background-color: #61ff13;
    color:white;
    height: 30px;
    width:80px;
    border-radius:10px;
    border-color:white;
    text-align:center;
    margin-right:30px;
    margin-top:10px;
  }

  .comment-collect
  {
    display:block;
    margin-top:20px;
    float:left;
    width:100%;
    border-top:1px solid #cfcfcf;
  }

  &::after
  {
    content:"";
    clear:both;
    display:block;
  }

} // comments 끝

.comment-collect
{

  .nick-comment
  {
    float:left;
    display:inline-block;
    margin:15px 0 20px 30px;
  }

  &::after
  {
    content:"";
    clear:both;
    display:block;
  }
}

.nick-comment
{

  .nickname {
    display:block;
    margin-top:3px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .comments-comment
  {
    display:block;
    width:800px;
  }
}




.right
{
  .right_title
  {
    height:90px;
    border-bottom:1px solid #cfcfcf;
    padding-top: 26px;
    padding-bottom: 25.2px;
  }

  .right-comment
  {
    border-bottom:1px solid #cfcfcf;
    padding: 26px 22px 25.2px 21.3px;
  }

  .collection-save
  {
    border-bottom:1px solid #cfcfcf;
    padding: 21.7px 22px 29.6px 21.3px;
  }

  .like-button
  {
    margin-top: 20px;
    margin-left:21.3px;
    width:85%;
  }

  .share
  {
    margin-top: 66.7px;
    margin-left: 37.8px;
  }

}//right 끝


.right_title{

  .right_title_left
  {
    position:absolute;
    left:0;
    width:70%;
    padding-right: 22px;
    padding-left: 21.3px;
  }

  .profile_image {
    position:absolute;
    right:0;
    border: 4px solid greenyellow;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right:20px;
  }

  &::after {
    content: "";
    clear: both;
    display: block;
  }
} //right-title 끝


.right_title_left {
  .nickname {
    margin-top:3px;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
    height: 40%;
  }

  .watch {
    margin-top: 10px;
    width: 110px;
    height: 40px;
  }

} //right_title_left 끝

.right-comment
{

  .comment-hash
  {
    width:280px;
    margin-bottom:13.5px;
    font-weight:bold;

    p
    {
      margin-bottom: 13.5px;
    }
  }

  .see-like-number
  {
    width:250px;
    margin-bottom:23.6px;
    color:gray;
    font-weight:bold;
  }//see-like-number 끝

  .date
  {
    display:block;
    color:gray;
    font-size:13px;

    .when
    {
      display:inline-block;
    }

  } //date 끝

} //right-comment 끝


.see-like-number
{
  .comment-see
  {
    display:inline-block;
    margin-right:15px;
    margin-left:10px;
  }

  .comment-like
  {
    display:inline-block;
    margin-right:15px;
    margin-left:10px;
  }

  .comment-number
  {
    display:inline-block;
    margin-left:10px;
  }
} //see-like-number 끝



.collection-save
{
  .save-name
  {
    width: 48px;
    height:77px;
  }
} // collection-save 끝


.share
{
  .facebook
  {
    display:inline-block;
    margin-right:20px;
  }


  .instagram
  {
    display:inline-block;
    margin-right:20px;
  }

  .twitter
  {
    display:inline-block;
    margin-right:20px;
  }

  .kakao-story
  {
    display:inline-block;
  }
} //share 끝

::-webkit-input-placeholder { /* 크롬 4?56 */
  color: #cbcbcb;;
}
:-moz-placeholder { /* 파이어폭스 4?18 */
  color: #cbcbcb;;
  opacity:  1;
}
::-moz-placeholder { /* 파이어폭스 19?50 */
  color: #cbcbcb;;
  opacity:  1;
}
:-ms-input-placeholder { /* 인터넷 익스플로러 10+ */
  color:  #cbcbcb;;
}
::placeholder { /* 파이어폭스 51+, 크롬 57+ */
  color: #cbcbcb;
  opacity:  1;
}



/////////게시물 css 끝///////

///////게시물 작성 css///////


.write
{
  margin-top:80px;
  width:100%;
  height:100%;

  .receipt_name
  {
    display:block;
    height:30px;
    width:80%;
    margin:10px auto;
    padding-left:10px;
  }

  .picture
  {
    display:block;
    height: 100px;
    width: 81%;
    margin: 10px auto;
    overflow-x:scroll;
    overflow-y:hidden;
    border: 1px solid #cfcfcf;
  }

  .receipt_content
  {
    display:block;
    height:200px;
    width:80%;
    resize:none;
    margin:10px auto;
    padding-left:10px;
  }

  .receipt_tag
  {
    display:block;
    height:30px;
    width:80%;
    margin:10px auto;
    padding-left:10px;
  }

  .receipt_regist
  {
    margin:100px auto;
    display:block;
    height:50px;
    width:200px;
    background-color:#000;
    color:white;
  }

  &::after
  {
    content:"";
    clear:both;
    display:block;
  }

}



.picture {

  .picture-wrap
  {
    height:100px;
    width:1300px;

  }

  &::after
  {
    content:"";
    clear:both;
    display:block;
  }

}

.picture-wrap
{
  display:block;

  .receipt_picture {
    width: 120px;
    height:80px;
    display: inline-block;
    border: 1px solid #cfcfcf;
  }

  &::after
  {
    content:"";
    clear:both;
    display:block;
  }

}

////게시물 작성 css 끝 ////