.sgg {
  vertical-align: middle;

  .sgg-login {
    width: 400px;
    margin: 60px auto 0;
    background-color: white;
  }

  .input_text {
    margin: 10px 0 30px;
    height:40px;
    width:400px;
    padding-left: 8px;
  }

  .sgg-login-button {
    width: 200px;
    height: 50px;
    margin: 40px 100px 30px;
    background-color: #000;
    color: white;
  }

  .find {
    text-decoration: underline;
    margin: 0 65px;
    color: black;
  }
  .find:hover{
    color:white;
  }
}

//여밑에서부터는 회원가입


.join
{
  width:500px;
  margin:60px auto 50px;


  .title
  {
    margin:0 150px;
    font-size:2em;
    font-weight: bold;
  }

  .input_text
  {
    border-width: 0 0 1px 0;
    width:100%;
    margin:50px 0 20px;
    padding: 8px;
    font-size : 17px;
    font-family: 'Hanna', serif;
    color: #333333;
  }

  .next
  {
    width: 200px;
    height: 50px;
    margin: 40px 150px 30px;
    background-color : #000;
    color : white;
  }
}

//join 2 scss



.my_page {
  width: 500px;
  margin: 60px auto;

  .title {
    margin: 0 200px;
    font-size:2em;
    font-weight: bold;
  }


  .input_text
  {
    border : 0px;
    border-bottom : 2px solid #cfcfcf;
    width:100%;
    margin:20px 0;
    padding: 8px;
  }
  .gender
  {
    border : 0px;
    border-bottom : 2px solid #cfcfcf;
    width:100%;
    text-align:left;

    span
    {
      position:relative;
      top:10px;
    }

    .gender-button
    {
      float:right;
      margin: 5px 0 5px 0;
    }

    &::after
    {
      content:'';
      display:block;
      clear:both;
    }


  }

  .birth
  {
    border : 0px;
    border-bottom : 2px solid #cfcfcf;
    width:100%;
    margin:20px 0;
    text-align:left;

    span
    {
      position:relative;
      top:20px;
    }

    .birth-combo
    {
      float:right;
      margin: 5px 0 5px 0;
    }

    &::after
    {
      content:'';
      display:block;
      clear:both;
    }

  }

  .job
  {
    border : 0px;
    border-bottom : 2px solid #cfcfcf;
    width:100%;
    text-align:left;

    span
    {
      position:relative;
      top:20px;
    }

    .job-combo
    {
      float:right;
      margin: 5px 0 5px 0;
    }

    &::after
    {
      content:'';
      display:block;
      clear:both;
    }

  }

  .food
  {
    border : 0px;
    border-bottom : 2px solid #cfcfcf;
    width:100%;
    text-align:left;
    margin : 20px 0 80px 0 ;

    span
    {
      position:relative;
      top:20px;
    }

    .food-combo
    {
      float:right;
      margin: 5px 0 5px 0;
    }

    &::after
    {
      content:'';
      display:block;
      clear:both;
    }

  }

  .mine {

    .mine-title
    {
      border: 0px;
      border-bottom: 2px solid #cfcfcf;
      padding-bottom: 2px;
      font-size:20px;
    }

    .text {
      width: 100%;
      height:100%;
      margin: 15px 0 0 0;
      resize: none;
    }

    .checkbox
    {
      margin:0 0 0 5px;
    }

    span
    {
      border: 0px;
      border-bottom: 2px solid #cfcfcf;
      padding-bottom: 2px;
    }

    .end {
      width: 200px;
      height: 50px;
      margin: 60px 150px 30px;
      background-color: #000;
      color: white;
    }
  }

  .img {
    width: 100px;
    height:100px;
    border-radius: 50px; /* 이미지 반크기만큼 반경을 잡기*/
    background-color:gray;
    margin : 30px auto;
  }

}


.gender-button
{
  input
  {
    width:165px;
    height:40px;
    font-weight:bold;
    background-color:white;

  }
}

.birth-combo
{
  select{
    width:110px;
    height: 50px;
  }
}

.job-combo
{
  select{
    width:110px;
    height:50px;
  }
}

.food-combo
{
  select{
    width:110px;
    height:50px;
  }
}




//mypage scss


.profile
{

  .top
  {
    background-color:white;
    border-bottom:2px solid #cfcfcf;
  }

  .bottom
  {
    margin: 0 auto;
    background-color: #e6e6e6;
    padding:15px;

  }
}

.top
{
  .image {
    width: 100px;
    height:100px;
    border-radius: 50px; /* 이미지 반크기만큼 반경을 잡기*/
    background-color:gray;
    margin : 30px auto;
  }

  .nickname
  {
    text-align:center;
    font-weight:bold;
    color:gray;
  }

  .level
  {
    text-align:center;
    margin-top:5px;
    color: #5ddc01;
    font-weight:bold;
  }

  .score
  {
    text-align:center;
    margin-top:20px;
    margin-bottom:30px;
    font-weight:bold;
    color:gray;
  }

} //top 끝

.bottom
{
  .left
  {
    border:2px solid #cfcfcf;
    border-top:0 solid #cfcfcf;
    border-radius:15px;
    width:70%;
    height:318px;
    float:left;
    padding:10px;
    background-color:white;

  }


  .right
  {
    border:2px solid #cfcfcf;
    border-top:0 solid #cfcfcf;
    border-radius:15px;
    width: 22%;
    height:278px;
    float:right;
    padding:30px;
    background-color:white;

  }

  &::after
  {
    content:'';
    display:block;
    clear:both;
  }
}//bottom 끝



.left
{
  ::-webkit-scrollbar
  {
    width:8px;
    height:8px;
  }

  ::-webkit-scrollbar-button:start:decrement
  {
    display:none;
  }

  ::-webkit-scrollbar-button:end:increment
  {
    display:none;
  }

  ::-webkit-scrollbar-track
  {
    background:white;
    -webkit-border-radius:10px;
    border-radius:10px;
  }

  ::-webkit-scrollbar-thumb
  {
    height:50px;
    width:50px;
    background: #5c5c5c;
    border-radius:8px;
  }

  input
  {
    display:none;
  }

  label {
    display: inline-block;
    padding-bottom:10px;
    margin-left: 8%;
    width: 200px;
    color: gray;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Jua', sans-serif;
    text-align:center;
  }

  label:hover
  {
    border-bottom : 5px solid #5ddc01;
  }


  article
  {
    border-top: 1px solid #cfcfcf;
    width: 100%;
    height: 270px;
    overflow-y: scroll;
    display:none;
  }




  #tab1:checked ~ .content1
  {
    display:block;
  }

  #tab1:checked ~ .label1
  {
    border-bottom : 5px solid #5ddc01;
  }

  #tab2:checked ~ .content2
  {
    display:block;
  }

  #tab2:checked ~ .label2
  {
    border-bottom : 5px solid #5ddc01;
  }

  #tab3:checked ~ .content3
  {
    display:block;
  }

  #tab3:checked ~ .label3
  {
    border-bottom : 5px solid #5ddc01;
  }


  &::after
  {
    content:"";
    display:block;
    clear:both;
  }

}//left 끝







.floor
{
  .content
  {
    margin:9px;
    display:inline-block;

  }
  .picture
  {
    width: 140px;
    height: 130px;
    border: 1px solid #cfcfcf;
    margin: 6px;
  }

  p
  {
    margin: 9px;
    font-weight:bold;
  }

  &::after
  {
    content:'';
    display:block;
    clear:both;
  }

}

.interest
{
  font-weight:bold;

  .interest_top {
    display: block;
  }

  .subject
  {
    margin-bottom:5px;
  }
  .hash1
  {
    padding-top:25px;
    padding-bottom:15px;
    border-bottom:1px solid #cfcfcf;
  }

  .hash2
  {
    padding-top:15px;
    padding-bottom:15px;
    border-bottom:1px solid #cfcfcf;
  }

  .hash3
  {
    padding-top:15px;
    padding-bottom:15px;
    border-bottom:1px solid #cfcfcf;
  }

  .hash4
  {
    padding-top:15px;
  }

  &::after
  {
    content:'';
    display:block;
    clear:both;
  }

}


.interest_top {

  .interest_title
  {
    float:left;
    display:inline-block;
  }

  .interest_all
  {
    float:right;
    display:inline-block;
    font-size: 10px;
    color: gray;
  }


  &::after
  {
    content:'';
    display:block;
    clear:both;
  }
}

#wrap_c{
  margin-top:40px;
  padding: 0px;
  img{
    width: 100%;
  }

  .complete_text{
    position: relative;
    top: -500px;
    text-align: center;
    .complete_button{
      background-color: black;
      width: 250px;
      height: 60px;
      color: white;
      border: none;
    }
    h1{
      font-size: 40px;
      margin: 15px;
    }
    p{
      margin: 40px 0px;
      font-weight: bold;
      color: #5c5c5c;
    }
  }
}






/////////////////