//mypage scss

.profile
{

  .top
  {
    background-color:white;
    border-bottom:2px solid #cfcfcf;
  }

  .bottom
  {
    margin: 0 auto;
    background-color: #e6e6e6;
    padding:15px;

  }
}

.top
{
  .image {
    width: 100px;
    height:100px;
    border-radius: 50px; /* 이미지 반크기만큼 반경을 잡기*/
    background-color:gray;
    margin : 30px auto;
  }

  .nickname
  {
    text-align:center;
    font-weight:bold;
    color:gray;
  }

  .level
  {
    text-align:center;
    margin-top:5px;
    color: #5ddc01;
    font-weight:bold;
  }

  .score
  {
    text-align:center;
    margin-top:20px;
    margin-bottom:30px;
    font-weight:bold;
    color:gray;
  }

} //top 끝

.bottom
{
  .left
  {
    border:2px solid #cfcfcf;
    border-top:0 solid #cfcfcf;
    border-radius:15px;
    width:70%;
    height:318px;
    float:left;
    padding:10px;
    background-color:white;

  }


  .right
  {
    border:2px solid #cfcfcf;
    border-top:0 solid #cfcfcf;
    border-radius:15px;
    width: 22%;
    height:278px;
    float:right;
    padding:30px;
    background-color:white;

  }

  &::after
  {
    content:'';
    display:block;
    clear:both;
  }
}//bottom 끝



.left
{
  ::-webkit-scrollbar
  {
    width:8px;
    height:8px;
  }

  ::-webkit-scrollbar-button:start:decrement
  {
    display:none;
  }

  ::-webkit-scrollbar-button:end:increment
  {
    display:none;
  }

  ::-webkit-scrollbar-track
  {
    background:white;
    -webkit-border-radius:10px;
    border-radius:10px;
  }

  ::-webkit-scrollbar-thumb
  {
    height:50px;
    width:50px;
    background: #5c5c5c;
    border-radius:8px;
  }

  input
  {
    display:none;
  }

  label {
    display: inline-block;
    padding-bottom:10px;
    margin-left: 8%;
    width: 200px;
    color: gray;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Jua', sans-serif;
    text-align:center;
  }

  label:hover
  {
    border-bottom : 5px solid #5ddc01;
  }


  article
  {
    border-top: 1px solid #cfcfcf;
    width: 100%;
    height: 270px;
    overflow-y: scroll;
    display:none;
  }




  #tab1:checked ~ .content1
  {
    display:block;
  }

  #tab1:checked ~ .label1
  {
    border-bottom : 5px solid #5ddc01;
  }

  #tab2:checked ~ .content2
  {
    display:block;
  }

  #tab2:checked ~ .label2
  {
    border-bottom : 5px solid #5ddc01;
  }

  #tab3:checked ~ .content3
  {
    display:block;
  }

  #tab3:checked ~ .label3
  {
    border-bottom : 5px solid #5ddc01;
  }


  &::after
  {
    content:"";
    display:block;
    clear:both;
  }

}//left 끝







.content1
{

  .content
  {
    margin:9px;
    display:inline-block;
  }

  .picture1
  {
    width: 130px;
    height: 130px;
    border: 1px solid #cfcfcf;
    margin: 6px;
  }

  p {
    margin: 9px;
  }

  .nickname1
  {
    font-size:12px;
  }

}//content1 끝


.content2
{
  .content
  {
    margin:9px;
    display:inline-block;

  }

  .picture2
  {
    width: 130px;
    height: 130px;
    border: 1px solid #cfcfcf;
    margin: 6px;
  }

  p {
    margin: 9px;
  }

  .nickname2
  {
    font-size:12px;
  }

}//content2 끝



.content3 {

  .collection-made-click {
    display: none;
  }


  .collection-made {
    display:block;
    width:200px;
    border: 1px solid #cfcfcf;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:30px;
    border-radius: 15px;
  }

  p {
    margin: 9px;
  }



  $count:0;

  @for $i from 0 through 10 {

    .content#{$i}-content {
      display: none;
      margin-left: 15px;
    }

    }


  @for $i from 0 through 10
  {
      @if $i==$count {
        .collection-made-click:checked ~ .content#{$i}-content {
          display: inline-block;
          $display: block;
          $count: $count+1;
        }
      }

      @else {
        .collection-made-click:checked ~ .content#{$i}-content {
          display: none;
          $display: block;
        }
      }
    }

}//content3 끝

@for $i from 0 through 10 {

  .content#{$i}-content {

    .picture3 {
      width: 120px;
      height: 100px;
      margin-top: 15px;
    }

    p {
      margin: 9px;
      text-align: center;
      font-weight: bold;
      color: #5ddc01;
    }
  }
}

.interest
{
  font-weight:bold;

  .interest_top {
    display: block;
  }

  .subject
  {
    margin-bottom:5px;
  }
  .hash1
  {
    padding-top:25px;
    padding-bottom:15px;
    border-bottom:1px solid #cfcfcf;
  }

  .hash2
  {
    padding-top:15px;
    padding-bottom:15px;
    border-bottom:1px solid #cfcfcf;
  }

  .hash3
  {
    padding-top:15px;
    padding-bottom:15px;
    border-bottom:1px solid #cfcfcf;
  }

  .hash4
  {
    padding-top:15px;
  }

  &::after
  {
    content:'';
    display:block;
    clear:both;
  }

}


.interest_top {

  .interest_title
  {
    float:left;
    display:inline-block;
  }

  .interest_all
  {
    float:right;
    display:inline-block;
    font-size: 10px;
    color: gray;
  }


  &::after
  {
    content:'';
    display:block;
    clear:both;
  }
}

#wrap_c{
  margin-top:40px;
  padding: 0px;
  img{
    width: 100%;
  }

  .complete_text{
    position: relative;
    top: -500px;
    text-align: center;
    h1{
      font-size: 40px;
      margin: 15px;
    }
    p{
      margin: 40px 0px;
      font-weight: bold;
      color: #5c5c5c;
    }
  }
}






/////////////////

//로그인 css



.sgg {
  vertical-align: middle;

  .sgg-login {
    width: 400px;
    margin: 60px auto 0;
    background-color: white;
  }

  .email {
    margin: 10px 0 30px;
    height:40px;
    width:400px;
  }

  .pw {
    margin: 10px 0 0;
    height:40px;
    width:400px;
  }

  .sgg-login-button {
    width: 200px;
    height: 50px;
    margin: 40px 100px 30px;
    background-color: #000;
    color: white;
  }

  .joins {
    text-decoration: underline;
    color: black;
    padding-left:170px;
  }



}


///////////////

//////////////회원가입 css

.join
{
  width:500px;
  margin:60px auto 50px;

  .title
  {
    margin:0 150px;
    font-size:2em;
    font-weight: bold;
  }

  .email
  {
    border-width: 0 0 1px 0;
    width:100%;
    margin:50px 0 20px;
  }

  .pw
  {
    border-width: 0 0 1px 0;
    width:100%;
    margin:10px 0 20px;
  }

  .pw-re
  {
    border-width: 0 0 1px 0;
    width:100%;
    margin:10px 0 20px;
  }

  .next
  {
    width: 200px;
    height: 50px;
    margin: 40px 150px 30px;
    background-color : #000;
    color : white;
  }
}




///////////////////
///////회원가입2css//

.my_page {
  width: 500px;
  margin: 60px auto;

  .title {
    margin: 0 200px;
    font-size:2em;
    font-weight: bold;
  }


  .nickname
  {
    border : 0;
    border-bottom : 2px solid #cfcfcf;
    width:100%;
    margin:20px 0;
  }

  .name
  {
    border : 0;
    border-bottom : 2px solid #cfcfcf;
    width:100%;
    margin:20px 0;
  }

  .phone
  {
    border : 0;
    border-bottom : 2px solid #cfcfcf;
    width:100%;
    margin:20px 0;
  }

  .gender
  {
    border : 0;
    border-bottom : 2px solid #cfcfcf;
    width:100%;
    text-align:left;

    span
    {
      position:relative;
      top:20px;
    }

    .gender-button
    {
      float:right;
      margin: 5px 0 5px 0;
    }

    &::after
    {
      content:'';
      display:block;
      clear:both;
    }


  }

  .birth
  {
    border : 0;
    border-bottom : 2px solid #cfcfcf;
    width:100%;
    margin:20px 0;
    text-align:left;

    span
    {
      position:relative;
      top:20px;
    }

    .birth-combo
    {
      float:right;
      margin: 5px 0 5px 0;
    }

    &::after
    {
      content:'';
      display:block;
      clear:both;
    }

  }

  .job
  {
    border : 0;
    border-bottom : 2px solid #cfcfcf;
    width:100%;
    text-align:left;

    span
    {
      position:relative;
      top:20px;
    }

    .job-combo
    {
      float:right;
      margin: 5px 0 5px 0;
    }

    &::after
    {
      content:'';
      display:block;
      clear:both;
    }

  }

  .food
  {
    border : 0;
    border-bottom : 2px solid #cfcfcf;
    width:100%;
    text-align:left;
    margin : 20px 0 80px 0 ;

    span
    {
      position:relative;
      top:20px;
    }

    .food-combo
    {
      float:right;
      margin: 5px 0 5px 0;
    }

    &::after
    {
      content:'';
      display:block;
      clear:both;
    }

  }

  .mine {

    .mine-title
    {
      border: 0;
      border-bottom: 2px solid #cfcfcf;
      padding-bottom: 2px;
      font-size:20px;
    }

    .text {
      width: 100%;
      height:100%;
      text-align: left;
      margin: 15px 0 10px 0;
      resize: none;
    }

    .checkbox
    {
      margin:0 0 0 5px;
    }

    span
    {
      border: 0;
      border-bottom: 2px solid #cfcfcf;
      padding-bottom: 2px;
    }

    .end {
      width: 200px;
      height: 50px;
      margin: 60px 150px 30px;
      background-color: #000;
      color: white;
    }
  }

  .img {
    width: 100px;
    height:100px;
    border-radius: 50px; /* 이미지 반크기만큼 반경을 잡기*/
    background-color:gray;
    margin : 30px auto;
  }

}


.gender-button
{
  padding-bottom: 5px;
  text-align: center;

  input[type=radio]{
    display: none;
  }

  label
  {
    display: inline-block;
    padding-top:15px;
    width: 100px;
    height: 30px;
    margin-right: -1px;
    text-align: center;
    border: 1px solid black;
    float: left;
    border-collapse: collapse;
  }

  input[type=radio]:checked + label{
    display: inline-block;
    padding-top:15px;
    width: 100px;
    height: 30px;
    margin-right: -1px;
    text-align: center;
    border: 1px solid black;
    float: left;
    border-collapse: collapse;
    background-color:blue;
    color:white;
  }

}

.birth-combo
{
  select{
    width:110px;
    height: 50px;
  }
}

.job-combo
{
  select{
    width:110px;
    height:50px;
  }
}

.food-combo
{
  select{
    width:110px;
    height:50px;
  }
}
.update_button{
  text-align: center;
}
.complete_button{
  padding:2px;
  border : 1px solid #2E2F30;
  display: inline-block;
  background-color: black;
  width: 250px;
  height: 60px;
  color: white;
}

